*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVEGADOR SIN BOOTSTRAP

.navegador {
    background-color:black;
}

.navegador > ul > li > a {
    text-decoration: none;
    color: white;
}

.logoNav {
    height: 10vh;
    width: auto;
    background-size: cover;
}
.navegador > ul {
    list-style-type: none;
}
*/

.headerImg {
    height: 400px;
    object-fit: cover;
}

/*header viejo
.indexHeader{
    background-image: url(../img/img_header.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
}

.indexHeaderInfo{
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    gap: 150px;
}

.indexHeaderInfo > h1 {
    padding: 20px;
}
*/
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.btn {
    background-color: black;
    color: goldenrod;
    font-size: 15px;
    border-style: solid;
    border-color: goldenrod;
    padding: 5px;
    font-weight: bold;
    width: 200px;
}

.main{
    background-color: black;
    color: white;
}

.main > p {
    padding: 20px;
}

.subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 20px 20px 20px;
}

.promosExclu{
    display: flex;
    color: white;
}

.alquileres{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../img/img_alquileres.jpg);
    width: 50%;
    height: 250px;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

.compras{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../img/img_compras.jpg);
    width: 50%;
    height: 250px;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

.tarjetas{
    color: white;
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.tarjetaProdu{
    width: 350px;
    height: 400px;
    background-size: cover;
    border: 2px;
    border-color: goldenrod;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
}

.tarjetaProdu > h3{
    background-color: black;
}

.tarjetaProdu > p{
    background-color: black;
}

.videoRefe{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimonios{
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.tarjetaTestimonio{
    background-color: white;
    color: black;
    display: flex;
    margin: 20px;
    height: 200px;
    overflow: hidden;
}

.tarjetaTestimonio > img {
    height: 100px;
    width: 100px;
    background-size: cover;
    padding: 10px;
}

.tarjetaTestimonioBootstrap{
    background-color: white;
    color: black;
    overflow: hidden;
    height: 60%;
}

.tarjetaTestimonioBootstrap > img {
    height: 25%;
    width: 25%;
    background-size: cover;
}

.tarjetaTestimonioInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.footer {
    background-color: black;
    color: white;
}

.footerImg > img {
    height: 5vh;
    width: auto;
}


.formulario > div >label {
    width: 100%;
}

.formulario > div > label > textarea {
    width: 100%;
}

.formulario > div > input {
    width: 40%;
}

.mapa {
    width: 100%;
    height: 100%;
    border-style:0;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: white;
}

.menu h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-color: white;
    border-style: solid;
    padding: 5px;
    border-width: 1px;
    text-decoration: none;
    color: white;
}
.elegirnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.elegirnos > video {
    overflow: hidden;
}

.tipoServicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tipoServicio img {
    width:400px;
    background-size: cover;
    margin: 20px;
    overflow: hidden;
}

.tipoServicio p {
    display: block;
    padding: 20px;
}

.tarjetaServicios {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.botones {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.btnDoble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}