@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Karla", sans-serif;
}

.subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  font-family: "Karla", sans-serif;
}

.tituloIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Karla", sans-serif;
  padding: 10px;
  margin: 0px;
  background-color: black;
}

.header {
  font-family: "Karla", sans-serif;
}

.headerImg {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-with: 300px) {
  .headerImg {
    height: 200px;
  }
}
.carousel {
  padding: 0px;
  margin: 0px;
}

.btn {
  background-color: black;
  color: goldenrod;
  font-size: 15px;
  border-style: solid;
  border-color: goldenrod;
  padding: 5px;
  font-weight: bold;
  width: 200px;
  font-family: "Karla", sans-serif;
}

@media (max-width: 350px) {
  .btn {
    width: 100%;
    font-size: 10px;
  }
}
.btnDoble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main {
  background-color: black;
  color: white;
}
.main > p {
  padding: 20px;
  font-family: "Karla", sans-serif;
}

/* MAIN INDEX*/
.promosExclu {
  display: flex;
  color: white;
}

@media (max-width: 400px) {
  .promosExclu {
    flex-direction: column;
    align-items: center;
  }
}
.alquileres {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url(../img/img_alquileres.jpg);
  width: 50%;
  height: 250px;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
}

@media (max-width: 400px) {
  .alquileres {
    width: 100%;
  }
}
.compras {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url(../img/img_compras.jpg);
  width: 50%;
  height: 250px;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
}

@media (max-width: 400px) {
  .compras {
    width: 100%;
  }
}
.videoRefe {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*MAIN SERVICIOS*/
.elegirnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.elegirnos > video {
  overflow: hidden;
  width: 80%;
}

@media (max-width: 450px) {
  .elegirnos > video {
    width: 100%;
  }
}
.tipoServicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tipoServicio img {
  width: 60%;
  background-size: cover;
  margin: 20px 0px;
  overflow: hidden;
}
.tipoServicio p {
  display: block;
  padding: 20px;
  text-align: center;
  font-family: "Karla", sans-serif;
}

@media (max-width: 450px) {
  .tipoServicio img {
    width: 100%;
  }
}
/*MAIN PRODUCTOS*/
.buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/*MAIN CONTACTOS*/
.mapa {
  width: 100%;
  height: 100%;
  border-style: 0;
}

.ubicacion h4 {
  font-size: 15px;
  font-family: "Karla", sans-serif;
}

.tarjetas {
  color: white;
  font-weight: bold;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .tarjetas {
    flex-wrap: wrap;
  }
}
.tarjetaProdu {
  width: 350px;
  height: 400px;
  background-size: cover;
  border: 2px;
  border-color: goldenrod;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  overflow: hidden;
  margin: 5px 0px;
}
.tarjetaProdu > h3 {
  background-color: black;
  font-family: "Karla", sans-serif;
}
.tarjetaProdu > p {
  background-color: black;
  font-family: "Karla", sans-serif;
}

@media (max-width: 450px) {
  .tarjetaProdu {
    width: 80%;
    height: 280px;
  }
}
.tarjetaServicios {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  justify-content: center;
}

/*TESTIMONIOS*/
.testimonios {
  font-weight: bold;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Karla", sans-serif;
}

.tarjetaTestimonio {
  background-color: white;
  color: black;
  display: flex;
  margin: 20px;
  height: 200px;
  width: 300px;
  overflow: hidden;
}
.tarjetaTestimonio > img {
  width: 80px;
  height: 80px;
  background-size: cover;
  padding: 10px;
}

@media (max-width: 400px) {
  .tarjetaTestimonio {
    margin: 10px;
    width: 100%;
  }
}
.tarjetaTestimonioInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-family: "Karla", sans-serif;
}

.footer {
  background-color: black;
  color: white;
  font-family: "Karla", sans-serif;
}
.footer .footerImg > img {
  height: 7vh;
  width: auto;
}

.formulario > div > label {
  width: 100%;
  font-family: "Karla", sans-serif;
}

.formulario > div > label > textarea {
  width: 100%;
}

.formulario > div > input {
  width: 40%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}
.menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
}
.menu h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-color: white;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
}/*# sourceMappingURL=style.css.map */