.header {
    font-family: 'Karla', sans-serif;
}

.headerImg {
    height: 300px;
    object-fit: cover;
    @media (max-with: 300px){
            height: 200px;
        }
}

.carousel{
    padding: 0px;
    margin: 0px;
}