.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
        a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: $colorTerciario;
        font-family: 'Karla', sans-serif;
        }
        h2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-color: $colorTerciario;
            border-style: solid;
            padding: 5px;
            border-width: 1px;
            text-decoration: none;
            color: $colorTerciario;
            font-family: 'Karla', sans-serif;
            &:hover {
                border-color: $colorSecundario;
                color: $colorSecundario;
                }
        }
}
