.tarjetas{
    color: $colorTerciario;
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    @media (max-width: 1200px){
            flex-wrap: wrap;
        }
}

.tarjetaProdu{
    width: 350px;
    height: 400px;
    background-size: cover;
    border: 2px;
    border-color: $colorSecundario;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    margin: 5px 0px;
    > h3{
        background-color: $colorPrincipal;
        font-family: 'Karla', sans-serif;
    }
    > p{
        background-color: $colorPrincipal;
        font-family: 'Karla', sans-serif;
    }
    @media (max-width: 450px){
            width: 80%;
            height: 280px;
    }
}

.tarjetaServicios {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}


/*TESTIMONIOS*/

.testimonios{
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Karla', sans-serif;
}

.tarjetaTestimonio{
    background-color: $colorTerciario;
    color: $colorPrincipal;
    display: flex;
    margin: 20px;
    height: 200px;
    width: 300px;
    overflow: hidden;
        > img {
            width: 80px;
            height: 80px;
            background-size: cover;
            padding: 10px;
        }
        @media (max-width: 400px){
                margin: 10px;
                width: 100%;
        }
}


.tarjetaTestimonioInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Karla', sans-serif;
}