@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "reset";
@import "variables";
@import "titulos";
@import "header";


.btn {
    background-color: $colorPrincipal;
    color: $colorSecundario;
    font-size: 15px;
    border-style: solid;
    border-color: $colorSecundario;
    padding: 5px;
    font-weight: bold;
    width: 200px;
    font-family: 'Karla', sans-serif;

}

@media (max-width: 350px) {
    .btn {
        width: 100%;
        font-size: 10px;
    }
}

.main{
    background-color: $colorPrincipal;
    color: $colorTerciario;
    > p {
        padding: 20px;
        font-family: 'Karla', sans-serif;
    }
}

.promosExclu{
    display: flex;
    color: $colorTerciario;
}

@media (max-width: 400px){
    .promosExclu{
        flex-direction: column;
        align-items: center;
    }
}

.alquileres{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../img/img_alquileres.jpg);
    width: 50%;
    height: 250px;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

@media (max-width: 400px){
    .alquileres{
        width: 100%;
    }
}

.compras{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(../img/img_compras.jpg);
    width: 50%;
    height: 250px;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}

@media (max-width: 400px){
    .compras{
        width: 100%;
    }
}

.tarjetas{
    color: $colorTerciario;
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px){
    .tarjetas{
        flex-wrap: wrap;
    }
}

.tarjetaProdu{
    width: 350px;
    height: 400px;
    background-size: cover;
    border: 2px;
    border-color: $colorSecundario;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    margin: 5px 0px;
    > h3{
        background-color: $colorPrincipal;
        font-family: 'Karla', sans-serif;
    }
    > p{
        background-color: $colorPrincipal;
        font-family: 'Karla', sans-serif;
    }
}

@media (max-width: 450px){
    .tarjetaProdu{
        width: 80%;
        height: 280px;
    }
}

.videoRefe{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimonios{
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Karla', sans-serif;
}

.tarjetaTestimonio{
    background-color: $colorTerciariowhite;
    color: $colorPrincipal;
    display: flex;
    margin: 20px;
    height: 200px;
    width: 300px;
    overflow: hidden;
    > img {
        width: 80px;
        height: 80px;
        background-size: cover;
        padding: 10px;
    }
}
@media (max-width: 400px){
    .tarjetaTestimonio{
        margin: 10px;
        width: 100%;
    }
}

.tarjetaTestimonioInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Karla', sans-serif;
}

.tarjetaTestimonioBootstrap{
    background-color: $colorTerciario;
    color: $colorPrincipal;
    overflow: hidden;
    height: 60%;
    font-family: 'Karla', sans-serif;
    > img {
        height: 25%;
        width: 25%;
        background-size: cover;
    }
}

.footer {
    background-color: $colorPrincipal;
    color: $colorTerciario;
    font-family: 'Karla', sans-serif;
    .footerImg > img {
        height: 7vh;
        width: auto;
}
}

.formulario > div > label {
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.formulario > div > label > textarea {
    width: 100%;
}

.formulario > div > input {
    width: 40%;
}

.mapa {
    width: 100%;
    height: 100%;
    border-style:0;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
        a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: $colorTerciario;
        font-family: 'Karla', sans-serif;
        }
        h2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-color: $colorTerciario;
            border-style: solid;
            padding: 5px;
            border-width: 1px;
            text-decoration: none;
            color: $colorTerciario;
            font-family: 'Karla', sans-serif;
        }
}

.elegirnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
        > video {
            overflow: hidden;
            width: 80%;
        }
}

@media (max-width: 450px){
    .elegirnos > video {
        width: 100%;
    }
}

.tipoServicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        img {
            width:60%;
            background-size: cover;
            margin: 20px 0px;
            overflow: hidden;
        }
        p {
            display: block;
            padding: 20px;
            text-align: center;
            font-family: 'Karla', sans-serif;
        }
}

@media (max-width: 450px){
    .tipoServicio img{
        width: 100%;
    }
}

.tarjetaServicios {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.btnDoble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.ubicacion h4 {
    font-size: 15px;
    font-family: 'Karla', sans-serif;
}
